@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  html {
    @apply w-full h-full;
  }

  body {
    @apply w-full h-full;
    background-color: #f0f0f0;
  }

  #root {
    @apply w-full h-full text-gray-800;
    display: grid;
  }

  #dice-box,
  #dice-box canvas {
    position: fixed;
    pointer-events: none;
    width: 100%;
    height: 100%;
    z-index: 100;
  }

  .stv-radio-buttons-wrapper {
    clear: both;
    display: inline-block;
  }

  .stv-radio-button {
    position: absolute;
    left: -9999em;
    top: -9999em;
  }

  .stv-radio-button:checked + label {
    @apply bg-accent3-700 border-accent3-700 shadow-none;
  }

  .stv-radio-button + label {
    @apply bg-accent3-500 uppercase text-white -mr-1 border-accent3-500 border-2 shadow-md;
    float: left;
    padding: 0.5em 1em;
    cursor: pointer;
  }

  .stv-radio-button + label:hover {
    @apply bg-accent3-300 border-accent3-300;
  }

  .stv-radio-button:checked + label:hover {
    @apply bg-accent3-400 border-accent3-400;
  }

  .stv-radio-button + label:first-of-type {
    border-radius: 0.7em 0 0 0.7em;
  }

  .stv-radio-button + label:last-of-type {
    border-radius: 0 0.7em 0.7em 0;
  }
}

@layer components {
  .btn {
    @apply p-2 cursor-pointer rounded-md shadow-md stroke-current;
  }

  .btn:disabled {
    @apply bg-gray-500 opacity-75 shadow-none;
  }

  .btn:focus {
    @apply outline-none;
  }

  .btn-purple {
    @apply bg-purple-700 text-white;
  }

  .btn-purple:enabled:active {
    @apply bg-purple-500 text-white;
  }

  .btn-red {
    @apply bg-red-700 text-white;
  }

  .btn-red:enabled:active {
    @apply bg-red-500 text-white;
  }
}

@layer utilities {
  .filter-shadow-sm {
    filter: drop-shadow(0px 4px 6px black);
  }

  .w100 {
    width: calc(100% - theme("spacing.12"));
  }
}
